:root {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

:root[data-theme="light"] {
    --black: #0D0619;
    --text-white: #FDFCFF;
    --text-black: #0D0619;
    --bg-cards: #FDFCFF;
    --primary: #533CA9;
    --primaire-text: #30215F;
    --tertiaire: #FDECD8;
    --grey: #9998B1;
    --bg-color: #FFFFFF;
    
    color: var(--black);
}

:root[data-theme="dark"] {
    --text-white: #FDFCFF;
    --text-black: #FDFCFF;
    --black: #1b0b36;
    --bg-cards: rgb(34, 12, 73);
    --primary: #533CA9;
    --tertiaire: #FDECD8;
    --bg-color: #110438;

    color: #FDFCFF;
}

html {
    padding: 0;
    background-color: var(--bg-color);
}

body > *:not(footer, header), .frame528 {
    margin: 0px 10%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    background-color: var(--bg-cards);
    z-index: 22;
    padding: 0px 10%;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav_btn {
    font-size: 16px;
    text-decoration: none;
    color: var(--text-black);
}

.cta_btn {
    border-radius: 46px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: var(--primary);
    text-decoration: none;
    width: 278px;
}

.cta_btn p {
    color: var(--text-white);
    font-size: 18px;
}

header .cta_btn img {
    width: 10px;
    height: 18px;
}

.cta_btn img {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
}

.btn_darkmode {
    cursor: pointer;
}

.btn_darkmode img {
    width: 24px;
    height: 24px;
}

html[data-theme="light"] .moon, html[data-theme="dark"] .sun {
    display: block;
}

html[data-theme="dark"] .moon, html[data-theme="light"] .sun {
    display: none;
}


@media screen and (max-width: 1024px) {
    .frame114 {
        flex-direction: column;
        gap: 0px !important;
    }

    .frame118 {
        overflow: hidden;
    }

    .frame555, .frame94, .in_card_1, .frame101, .frame121, .cards_layout, .cards_guide, .frame146, .who_im, .frame528, .frame536 {
        flex-direction: column;
    }

    .frame83 {
        flex-direction: row !important;
    }

    .card_1, .column_layout, .card_guide, .frame552 {
        width: initial !important;
    }

    .frame101 {
        gap: 64px !important;
    }

    .frame557 {
        flex-direction: column;
        display: block !important;
        gap: initial !important;
    }

    .frame528 {
        gap: 16px;
        align-items: flex-start !important;
    }

    .menu, .navig-desktop {
        display: block
    }

    .navig-tel a {
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        min-width: 50vw;
        height: 100vh;
    }

    .navig-tel {
        display : block;
        position: absolute;
        right   : 0;
        top     : 0;
        margin  : 0;
        width   : 100vw;
        height  : 100vh;
        z-index: 99;
    }

    .navig-tel.open {
        transform: none;
        position : fixed;
    }
}

.menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  padding: 0;
}
.menu img {
  width: 32px;
  height: 32px;
}

.navig-desktop {
  display: flex;
  align-items: center;
  gap: 32px;
}

.burger-svg {
    display: block;
}

.cross-svg {
    display: none;
}

@media (max-width: 900px) {
  .menu {
    display: block;
  }

  .navig-desktop {
    display: none;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100vw;
    background: var(--bg-color);
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
    z-index: 1000;
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
  }

  header.menu-open .navig-desktop {
    display: flex;
  }

  header.menu-open .cross-svg {
    display: block;
  }

  header.menu-open .burger-svg {
    display: none
  }
}

.frame114 {
    display: flex;
    gap: 96px;
}

.frame118 {
    border: 32px solid;
    border-color: var(--tertiaire);
    border-radius: 8px;
    position: relative;
}

.frame118>div.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/background.png");
    background-size: contain;
    opacity: .1;
}

.frame118 img {
    position: relative;
    z-index: -0;
}

.frame88 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px 0px;
}

.frame113 {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.frame137 {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    position: relative;
}

h1, h2, h3 {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 42px;
    color: var(--primaire-text);
}

.frame113>p {
    font-weight: 400;
    font-size: 18px;
}

.frame1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame555 {
    display: flex;
    gap: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
}

.field>input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
}

.field input {
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--grey);
    padding: 8px 12px;
    background-color: #ffffff;
    width: 275px;
}

.frame4 {
    display: flex;
    gap: 8px;
}

.frame1>input[type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 2px solid;
    border-color: var(--grey);
    background-color: var(--text-white);
}

.frame4 label {
    font-size: 400;
    font-size: 12px;
}

.frame83 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 8px;
}

.frame559 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 650px;
}

.frame546 {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary);
    gap: 10px;
    background-color: #ffffff;
    height: 24px;
}

.frame546>.frame547 {
    background-color: #30215F;
    height: 24px;
    width: 75%;
}

.frame115 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 8px;
}

.frame115>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 42px;
    color: var(--primaire-text);
}

.frame115>p:last-child {
    font-size: 24px;
}

.frame559 p{
    align-self: center;
    font-weight: 400;
    font-size: 16px;
}

.syndrome {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 128px 0px;
}

.frame121 {
    display: flex;
    gap: 64px;
}

.frame117 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame117 h2 {
    font-weight: 400;
    font-size: 32px;
}

.frame117>p:first-child {
    font-weight: 400;
    font-size: 16px;
}

.frame158 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}

.frame158 img{
    mix-blend-mode: luminosity;
}

.frame548 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame548 h3 {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 32px;
}

.frame94 {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card_1 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 368px;
}

.in_card_1 {
    display: flex;
    gap: 32px;
}

.in_card_1 img {
    width: 64px;
    height: 64px;
}

.in_card_1 p {
    font-weight: 300;
    font-style: light;
    font-size: 24px;
}

.card_1>p:last-child {
    font-weight: 400;
    font-size: 16px;
}

.frame109 {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.frame101 {
    display: flex;
    gap: 128px;
}

.frame175 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}

.frame175 img {
    mix-blend-mode: luminosity;
}

.frame123 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame123 h2 {
    font-weight: 400;
    font-size: 30px;
}

.frame134, .frame135 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame134 p, .frame135 p {
    font-weight: 400;
    font-size: 16px;
}

.layout h2 {
    display: flex;
    padding-top: 128px;
    padding-bottom: 32px;
    gap: 64px;
    font-weight: 400;
    font-size: 30px;
}

.cards_layout {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 32px 0px;
}

.column_layout {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 274px;
}

.title_layout {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title_layout img {
    width: 48px;
    height: 48px;
}

.title_layout p {
    font-weight: 400;
    font-size: 20px;
}

.guide {
    display: flex;
    flex-direction: column;
    padding: 128px 0px;
}

.frame129 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame129 h2 {
    font-weight: 400;
    font-size: 30px;
}

.frame129 p {
    font-weight: 400;
    font-size: 18px;
}

.cards_guide {
    display: flex;
    justify-content: center;
    padding: 32px 0px;
    gap: 32px;
}

.card_guide {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 360px;
}

.frame98 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame98 img {
    width: 64px;
    height: 64px;
}

.frame98 p {
    font-weight: 400;
    font-size: 24px;
}

.frame130 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame130 p {
    font-weight: 400;
    font-size: 16px;
}

.temoignage {
    display: flex;
    flex-direction: column;
    padding: 128px 0px;
    gap: 8px;
}

.frame146 {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.frame552 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 553px;
}

.frame143 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame143 p {
    font-weight: 400;
    font-size: 30px;
}

.frame136 {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    background-color: var(--bg-cards);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    position: relative;
}

.frame136>div.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/background.png");
    background-size: contain;
    opacity: .05;
}

.frame135 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.frame556 {
    width: 64px;
    height: 64px;
    border: 5px solid;
    border-color: var(--tertiaire);
}

.frame556 img {
    width: 64px;
    height: 64px;
}

.frame139 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame139>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
}

.frame139 p, .intro-temoignage{
    font-weight: 400;
    font-size: 20px;
}

.frame557 {
    display: flex;
    gap: 32px;
}

.frame557>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 150px;
    max-height: min-content;
    max-width: min-content;
}

.frame557>p:last-child {
    font-weight: 400;
    font-size: 16px;
    max-height: min-content;
    max-width: min-content;
}

.temoignage-paragraph p {
    padding: 8px 0px;
    font-weight: 400;
    font-size: 16px;
}

.who_im {
    display: flex;
    gap: 64px;
    padding: 128px 0px;
}

.who_im .column_who_im{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.column_who_im h2 {
    font-weight: 400;
    font-size: 30px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragraph p {
    font-weight: 400;
    font-size: 16px;
}

.frame174 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}

.faq {
    display: flex;
    flex-direction: column;
    padding: 128px 0px;
    gap: 32px;
}

.faq h2 {
    font-weight: 400;
    font-size: 30px;
}

details {
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
}

details summary {
    padding: 32px;
    cursor: pointer;
}

summary {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-weight: 400;
    font-size: 24px;
    color: var(--primaire-text);
    width: 100%;
}

summary img {
    align-self: center;
    width: 32px;
    height: 32px;
}

details[open] {
    padding: 32px;
    display: inline;
    font-weight: 400;
}

details[open] summary {
    padding: 0px;
    margin-bottom: 32px;
}

details[open] summary img {
    transform: rotate(180deg)
}

.last_section {
    display: flex;
    justify-content: center;
    padding: 128px 0px;
    gap: 64px;
}

.column_last_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 100%;
}

.column_last_section>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 30px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0;
}

.frame531 {
    display: flex;
    flex-direction: column; 
    padding-bottom: 32px;
    gap: 32px;
}

.frame528 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 32px;
}

.frame525 {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.frame525 img {
    width: 100px;
    height: 100px;
}

.frame527 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame527>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 20px;
}

.frame536 {
    display: flex;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    color: var(--primaire-text);
}

.frame536 img {
    width: 20px;
    height: 20px;
}

.frame534 {
    display: flex;
    justify-content: space-between;
    padding: 16px 144px;
    background-color: var(--black);
}

.frame530 {
    display: flex;
    padding: 8px 0px;
    gap: 8px;
}

.frame530 p {
    font-weight: 400;
    font-size: 14px;
    color: var(--text-white);
}