:root {
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    padding: 0px 15%;

    --black: #0D0619;
    --white: #FDFCFF;
    --primary: #533CA9;
    --primaire-text: #30215F;
    --tertiaire: #FDECD8;
    --grey: #9998B1;

    color: var(--black);
}

header {
    padding: 8px 0px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.nav_btn {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

.cta_btn {
    border-radius: 46px;
    padding: 8px 0px;
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: var(--primary);
    text-decoration: none;
    width: 278px;
}

.cta_btn p {
    color: var(--white);
    font-size: 18px;
}

header .cta_btn img {
    width: 10px;
    height: 18px;
}

.cta_btn img {
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
}

.frame119 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.frame114 {
    display: flex;
    gap: 96px;
}

.frame118 {
    border: 32px solid;
    border-color: var(--tertiaire);
    border-radius: 8px;
    position: relative;
}

.frame118>div {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/background.png");
    background-size: contain;
    opacity: .1;
    z-index :-1;
}

.frame88 {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px 0px;
}

.frame113 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

h1, h2, h3 {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 42px;
    color: var(--primaire-text);
}

.frame113>p {
    font-weight: 400;
    font-size: 18px;
}

.frame1 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame555 {
    display: flex;
    gap: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
}

.field>input::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey);
}

.field input {
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--grey);
    padding: 8px 12px;
    background-color: #ffffff;
    width: 275px;
}

.frame4 {
    display: flex;
    gap: 8px;
}

.frame1>input[type=checkbox] {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 2px solid;
    border-color: var(--grey);
    background-color: var(--white);
}

.frame4 label {
    font-size: 400;
    font-size: 12px;
}

.frame83 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px;
    gap: 8px;
    background-color: var(--white);
}

.frame559 {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 650px;
}

.frame546 {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--primary);
    gap: 10px;
    background-color: #ffffff;
    height: 24px;
}

.frame546>.frame547 {
    background-color: var(--primaire-text);
    height: 24px;
    width: 75%;
}

.frame115 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    gap: 8px;
}

.frame115>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 42px;
    color: var(--primaire-text);
}

.frame115>p:last-child {
    font-size: 24px;
}

.frame559 p{
    align-self: center;
    font-weight: 400;
    font-size: 16px;
}

.syndrome {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 128px 0px;
}

.frame121 {
    display: flex;
    gap: 64px;
}

.frame117 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame117 h2 {
    font-weight: 400;
    font-size: 32px;
}

.frame117>p:first-child {
    font-weight: 400;
    font-size: 16px;
}

.frame158 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}

.frame158 img{
    mix-blend-mode: multiply;
}

.frame548 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame548 h3 {
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-size: 32px;
}

.frame94 {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card_1 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--white);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 368px;
}

.in_card_1 {
    display: flex;
    gap: 32px;
}

.in_card_1 img {
    width: 64px;
    height: 64px;
}

.in_card_1 p {
    font-weight: 300;
    font-style: light;
    font-size: 24px;
}

.card_1>p:last-child {
    font-weight: 400;
    font-size: 16px;
}

.consequence {
    display: flex;
    gap: 64px;
    padding: 128px 0px;
}

.frame109 {
    display: flex;
    flex-direction: column;
    gap: 96px;
}

.frame101 {
    display: flex;
    gap: 128px;
}

.frame175 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}

.frame175 img {
    mix-blend-mode: multiply;
}

.frame123 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame123 h2 {
    font-weight: 400;
    font-size: 30px;
}

.frame134, .frame135 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame134 p, .frame135 p {
    font-weight: 400;
    font-size: 16px;
}

.layout h2 {
    display: flex;
    padding-top: 128px;
    padding-bottom: 32px;
    gap: 64px;
    font-weight: 400;
    font-size: 30px;
}

.cards_layout {
    display: flex;
    gap: 24px;
    padding: 32px 0px;
}

.column_layout {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--white);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 274px;
}

.title_layout {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title_layout img {
    width: 48px;
    height: 48px;
}

.title_layout p {
    font-weight: 400;
    font-size: 20px;
}

.guide {
    display: flex;
    flex-direction: column;
    padding: 128px 0px;
}

.frame129 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame129 h2 {
    font-weight: 400;
    font-size: 30px;
}

.frame129 p {
    font-weight: 400;
    font-size: 18px;
}

.cards_guide {
    display: flex;
    padding: 32px 0px;
    gap: 32px;
}

.card_guide {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 32px;
    background-color: var(--white);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    width: 360px;
}

.frame98 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame98 img {
    width: 64px;
    height: 64px;
}

.frame98 p {
    font-weight: 400;
    font-size: 24px;
}

.frame130 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.frame130 p {
    font-weight: 400;
    font-size: 16px;
}

.temoignage {
    display: flex;
    flex-direction: column;
    padding: 128px 0px;
    gap: 8px;
}

.frame146 {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.frame552 {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 553px;
}

.frame143 {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.frame143 p {
    font-weight: 400;
    font-size: 30px;
}

.frame136 {
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
    background-color: var(--white);
    box-shadow: 0px 6px 12px rgba(83, 60, 169, 0.15);
    min-height: max-content;
    position: relative;
}

.frame136>div.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("/img/background.png");
    background-size: contain;
    opacity: .05;
}

.frame135 {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.frame556 {
    width: 64px;
    height: 64px;
    border: 5px solid;
    border-color: var(--tertiaire);
}

.frame556 img {
    width: 64px;
    height: 64px;
}

.frame139 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame139>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
}

.frame139 p, .intro-temoignage{
    font-weight: 400;
    font-size: 20px;
}

.frame557 {
    display: flex;
    gap: 32px;
}

.frame557>p:first-child {
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 150px;
}

.frame557>p:last-child {
    font-weight: 400;
    font-size: 16px;
}

.temoignage-paragraph p {
    padding: 8px 0px;
    font-weight: 400;
    font-size: 16px;
}

.who_im {
    display: flex;
    gap: 64px;
    padding: 128px 0px;
}

.who_im .column_who_im{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.column_who_im h2 {
    font-weight: 400;
    font-size: 30px;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.paragraph p {
    font-weight: 400;
    font-size: 16px;
}

.frame174 {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 32px;
    gap: 8px;
    background-color: var(--tertiaire);
}